@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme Colors */
:root {
  /* --background-color*/
  --text-color: #000000;
  --border-color:#000000;
  --error-color: #FF5151;
  --warning-color: #ffd600;



/* --pagination-color */
--pg-border-color:#66B2FF;
--pg-text-color:#ffffff;
--pg-a-text-color:#66B2FF;
--pg-active-a-backgroud-color:#66B2FF;
--pg-active-a-text-color:#ffffff;
--pg-active-a-backgroud-hover-color:#66B2FF;
--pg-active-a-text-hover-color:#ffffff;

--pg-move-border-color:#bcbcbc;
--pg-move-disable-color:#bcbcbc;
--pg-move-enable-color:#66B2FF;

--pg3-active-a-text-color:#000000;
--pg3-active-a-text-hover-color:#66B2FF;

--pg4-a-text-color:#BCBCBC;



/* table color */
--tb-head-bg-color:#F0F7FF;
--tb-bg-color: #ffffff;
--tb-selected-row-color:#1f79a3;
--tb-text-color:#000000;
--tb-row-border-color:#EAF0F5;
--tb-head-font-size:14px;
--tb-body-font-size:14px;


/* adtable color */
--adtb-row-border-color:#EAF0F5;
--adtb-checkbox-color:#66B2FF;
/* label */
--label-text-color:#0078D4;
--label-border-color:#E4F0FB;
--label-bg-color:#E4F0FB;


/* dropdown */
--dl-option-bg-color:#ffffff;
--dl-arrow-color:gray;
--dl-arrow-color-hover:#66B2FF;
--dl-selected-item-color:#000000;
--dl-select-bg-color:#0078D4;
--dl-label-bg:white;
--dl-disabled-color:gray;
--dl-anticon-close:gray;
--dl-mlselect-bg:WhiteSmoke;



}

/* Dark Theme Colors */
[data-theme="dark"] {
  --text-color: #ffffff;
  --border-color:#ffffff;
  --error-color: #FF5151;
  --warning-color: #ffd600;

  /* pagination color */
  --pg3-active-a-text-color:#AFAFAF;
  --pg-move-color:#ffffff;

  --pg4-active-a-text-color:#AFAFAF;


/* table color */
--tb-bg-color: #0D243C;
--tb-text-color:#66B2FF;
--tb-head-bg-color:#132F4C;
--tb-row-border-color:#132F4C;

/* adtable color */
--adtb-row-border-color:#AABBEE;
/* label */
--label-text-color:#66B2FF;
--label-border-color:#132F4C;
--label-bg-color:#0A2745;
--edit-icon-color:#66B2FF;

/* dropdown */
--dl-option-bg-color:#132F4C ;
--dl-arrow-color:#ffffff;
--dl-selected-item-color:#66B2FF;
--dl-label-bg:#0D243C;
--dl-disabled-color:gray;
--dl-anticon-close: #66B2FF;
--dl-mlselect-bg:#132F4C ;
 

}

body{
  color: black;
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

[data-theme="dark"] body{
  background-color:#0D243C;
  color: white;
}




